# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

configs/local/default.yaml
/data/
/logs/
.env

delete*
.vscode/
*.swp
*.egg-info/

dataset
wandb/
outputs/
checkpoints
pyproject.toml
.DS_Store

HwwwH
openbmb
openbmb/MiniCPM-V-2
models--*